<h1>@ViewBag.WeddingInfo.WedderOne's & @ViewBag.WeddingInfo.WedderTwo's Wedding</h1>
<a asp-controller="User" asp-action="Dashboard">Dashboard</a> | <a asp-controller="User" asp-action="Logout">Logout</a>
<h3>Date/Time of Wedding:</h3>
<ul>
    <li>@ViewBag.WeddingInfo.WeddingDate</li>
</ul>
<div class="twocolumn">
    <h3># of RSVP's:</h3>
    <ul>
        <li>@ViewBag.ListGuest.WeddingtoUser.Count</li>
    </ul>
    <h3>Guest List</h3>
    <ul>
        @foreach(var i in ViewBag.ListGuest.WeddingtoUser){
        <li>
            @i.User.FirstName @i.User.LastName
        </li>
        }
    </ul>
    <h3>Wedding Address:</h3>
    <ul>
        <li>@ViewBag.WeddingInfo.WeddingAddress</li>
    </ul>
</div>
<br>
<div class="twocolumn">

    <div id="dvMap" style="height:500px;"></div>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script type="text/javascript"
        src="https://maps.googleapis.com/maps/api/js?libraries=places&key=PersonalGoogleAPIRemovedForSecurityPurposes&callback=initMap"
        async defer></script>
    <script type="text/javascript">
        function initMap() {
            var map = new google.maps.Map(document.getElementById('dvMap'), {
                center: {
                    lat: @ViewBag.Lati,
                    lng: @ViewBag.Long
        },
        zoom: 15
    });
        var marker = new google.maps.Marker({
            position: {
                lat: @ViewBag.Lati,
        lng: @ViewBag.Long
        },
        map: map,
            draggable: true
    });
        google.maps.event.addListener(marker, 'dragend', function () {
            var Lats = marker.getPosition().lat();
            var Longs = marker.getPosition().lng();
            $('#Lat').val(Lats);
            $('#Long').val(Longs);
        });
}
    </script>

</div>