@model UserWeddingViewModel
<h1> Welcome to the Wedding Planner!</h1>
<a href="/logout">Logout</a>

<a>@ViewBag.sameDayWedding</a>

<table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Wedding</th>
        <th scope="col">Date</th>
        <th scope="col">Guest</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
        @foreach(var i in ViewBag.AllWed){
            <tr>
                    <td><a href="/detail/@i.WeddingId">@i.WedderOne & @i.WedderTwo</a></td>
                    <td>@i.WeddingDate</td>
                    <td>@i.WeddingtoUser.Count</td>
                    <td>@if(i.WeddingtoUser.Count == 0){
                            <a href="/addrsvp/@i.WeddingId/@ViewBag.Userid">RSVP</a>
                        }
                        @if(i.WeddingtoUser.Count > 0)
                        {
                            int resert = 0;
                            bool rsvp = false;
                            @foreach(var y in i.WeddingtoUser){
                                @if(y.UserId == ViewBag.Userid){
                                    rsvp = true;
                                    resert = y.UserWeddingViewModelId;
                                }
                            }
                            @if(rsvp == true){
                                <a href="/unrsvp/@resert">Un-RSVP</a>
                            }
                            @if(rsvp == false){
                                <a href="/addrsvp/@i.WeddingId/@ViewBag.Userid">RSVP</a>
                            }
                        }

                    @if(ViewBag.Userid == @i.UserId){
                        <a> | </a> <a href="/delete/@i.WeddingId">Delete</a>
                    }
                    </td>
                  </tr>
        }
    </tbody>
  </table>

  <a href="/newwedding"><button type="button" class="btn btn-primary">New Wedding</button></a>